<div class="dashboard-main">
    <div class="calendar-main">
    <div class="row">
    <div class="col-md-12">
    <div class="heading calendar-heading">Task Management </div>
    </div>
    
    <div class="row">
    <div class="col-md-4">
    <div class="taskbox">
    <div class="row">
    <div class="col-md-8">
    <h3>Quality Assurance</h3>
    </div>
    <div class="col-md-4">
    <div class="avtar-mn1">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <span>Medium</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <ul>
    <li><i class="fa fa-flag" aria-hidden="true"></i>28 Mar</li>
    <li><i class="fa fa-commenting" aria-hidden="true"></i>5</li>
    <li><i class="fa fa-paperclip" aria-hidden="true"></i>5</li>
    </ul>
    </div>
    <div class="col-md-6"><div class="crayons">Box of Crayons</div></div>
    </div>
    
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="taskbox">
    <div class="row">
    <div class="col-md-8">
    <h3>UI/UX Design</h3>
    </div>
    <div class="col-md-4">
    <div class="avtar-mn1">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <span>Medium</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <ul>
    <li><i class="fa fa-flag" aria-hidden="true"></i>28 Mar</li>
    <li><i class="fa fa-commenting" aria-hidden="true"></i>5</li>
    <li><i class="fa fa-paperclip" aria-hidden="true"></i>5</li>
    </ul>
    </div>
    <div class="col-md-6"><div class="crayons">Box of Crayons</div></div>
    </div>
    
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="taskbox">
    <div class="row">
    <div class="col-md-8">
    <h3>Website Design</h3>
    </div>
    <div class="col-md-4">
    <div class="avtar-mn1">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <span class="midium">Medium</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <ul>
    <li><i class="fa fa-flag" aria-hidden="true"></i>28 Mar</li>
    <li><i class="fa fa-commenting" aria-hidden="true"></i>5</li>
    <li><i class="fa fa-paperclip" aria-hidden="true"></i>5</li>
    </ul>
    </div>
    <div class="col-md-6"><div class="crayons">Box of Crayons</div></div>
    </div>
    
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="taskbox">
    <div class="row">
    <div class="col-md-8">
    <h3>UI/UX Design</h3>
    </div>
    <div class="col-md-4">
    <div class="avtar-mn1">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <span class="low">Low</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <ul>
    <li><i class="fa fa-flag" aria-hidden="true"></i>28 Mar</li>
    <li><i class="fa fa-commenting" aria-hidden="true"></i>5</li>
    <li><i class="fa fa-paperclip" aria-hidden="true"></i>5</li>
    </ul>
    </div>
    <div class="col-md-6"><div class="crayons">Box of Crayons</div></div>
    </div>
    
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="taskbox">
    <div class="row">
    <div class="col-md-8">
    <h3>Website Design</h3>
    </div>
    <div class="col-md-4">
    <div class="avtar-mn1">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <span class="done">Done</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <ul>
    <li><i class="fa fa-flag" aria-hidden="true"></i>28 Mar</li>
    <li><i class="fa fa-commenting" aria-hidden="true"></i>5</li>
    <li><i class="fa fa-paperclip" aria-hidden="true"></i>5</li>
    </ul>
    </div>
    <div class="col-md-6"><div class="crayons">Box of Crayons</div></div>
    </div>
    
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="taskbox">
    <div class="row">
    <div class="col-md-8">
    <h3>Quality Assurance</h3>
    </div>
    <div class="col-md-4">
    <div class="avtar-mn1">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <img src="assets/img/avatar2.svg" class="avatarsec">
    <span class="hight">High</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
    </div>
    
    <div class="row">
    <div class="col-md-6">
    <ul>
    <li><i class="fa fa-flag" aria-hidden="true"></i>28 Mar</li>
    <li><i class="fa fa-commenting" aria-hidden="true"></i>5</li>
    <li><i class="fa fa-paperclip" aria-hidden="true"></i>5</li>
    </ul>
    </div>
    <div class="col-md-6"><div class="crayons">Box of Crayons</div></div>
    </div>
    
    </div>
    </div>
    
    
    </div>
    
    
    </div>
    
    </div>
    </div>
    